<%- include('./partials/header') %>

  <h1>Dogs Available for Dating</h1>

  <% if (dogs.length > 0) { %>
    <div>
      <% dogs.forEach((dog) => { %>
        <div class="dog-card">
          <img src="<%= dog.photo[0] %>" alt="<%= dog.name %>">
          <h2><%= dog.name %></h2>
          <p>Age: <%= dog.age %> years</p>
          <p>City: <%= dog.city %></p>
        </div>
      <% }); %>
    </div>
  <% } else { %>
    <p>No dogs available for dating at the moment.</p>
  <% } %>

  <!-- Add your additional HTML content or scripts here -->



<%- include('./partials/footer') %>