<%- include('../partials/header') %>
<section id="swipe-page">
    <% if (dog) { %>
      <div class="dog-profile">
        <% dog.pictures.forEach(picture => { %>
          <img src="/<%= picture %>" alt="Photo of <%= dog.name %>">
        <% }); %>
  
        <h3><%= dog.name %></h3>
        <p>Age: <%= dog.age %></p>
        <p>Breed: <%= dog.breed %></p>
        <p>Bio: <%= dog.bio %></p>
  
  
        <form action="/owners/<%= owner._id %>/dogs/<%= userDog._id %>/like/<%= dog._id %>" method="POST">
          <button type="submit">Like ❤️</button>
        </form>
  
    
        <form action="/owners/<%= owner._id %>/dogs/<%= userDog._id %>/dislike/<%= dog._id %>" method="POST">
          <button type="submit">Dislike 💔</button>
        </form>
      </div>
    <% } else { %>
      <div class="noMoreDogs">
      <p>No more dogs to swipe on!</p><br><br>
      <div class="refreshButton">
      <a href="/owners/<%= owner._id %>">⇤Go back↩</a>
      <form onsubmit="window.location.reload();" method="get">
        <button type="submit">Refresh the page</button>
      </form>
    </div><br><br>
    <p>Enjoying the app?<br>Share it with your friends!</p>
    <div class="refreshButton">
    <button onclick="window.location.href='https://www.instagram.com'">Instagram</button>
      <button onclick="window.location.href='https://www.facebook.com'">Facebook</button>
    </div>
    <section><br>
      <a href="/">Sign up with different account?</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/login">Log out</a>
  </section>
  </div>
    <% } %>

  </section>
  
<%- include('../partials/footer') %>
