<%- include('../partials/header') %>
<section id="show-page">
  <div>Name: </div>
  <div>
    <%= owner.name %>
  </div>
  <div>Email: </div>
  <div>
    <%= owner.email %>
  </div>
  <h2> Your Dogs:</h2>
  <% if (dogs.length > 0) { %>
    <% dogs.forEach(dog => { %>
      <div class="dog">
        <% dog.pictures.forEach(picture => { %>
            <img src="/<%= picture %>" alt="<%= dog.name %>">
        <% }); %>
        <div><%= dog.name %></div>
        <a href="<%= owner._id %>/dogs/<%= dog._id %>/edit">Update</a>
        <form action="/owners/<%= owner._id %>/dogs/<%= dog._id %>?_method=DELETE" method="POST">
            <button type="submit"><%= dog.name %> found ❤️ </button>
        </form>
      </div>
    <% }); %>
  <% } else { %>
    <p>You havent added any dogs</p>
  <% } %>
    <a href="/owners/<%= owner._id %>/dogs/new">Add Dog</a>
</section>
<%- include('../partials/footer') %>
