<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoggyDate</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
<section id="show-page">
  <header>
    <div class="wrapper">
      <svg>
        <text x="50%" y="50%" dy=".35em" text-anchor="middle">Welcome</text></svg>
        <div class="ownerName"><%= owner.name %></div>&nbsp;&nbsp;
    </div>
  </header>

  <% if (dogs.length > 0) { %>
    <br><h2>Your Dogs:</h2>	
    <% dogs.forEach(dog => { %>
      <div class="aboutDogClass">
        <% dog.pictures.forEach(picture => { %>
          <div class="imgContainer">
            <img src="/<%= picture %>" alt="<%= dog.name %>" class="imgClass">
          </div>
        <% }) %>

        <% if (dog.age <= 3) { %>
          Woof! I'm <%= dog.name %>, <%= dog.age %> years old dog<br>living in <%=dog.city %>.<br>
        
          <% } else if (dog.age <= 6) { %>
          <%= dog.name %> here—a playful, <%= dog.age %>-year-old dog<br>living in <%=dog.city %>.<br>
        
          <% } else { %>
          It's me, <%= dog.name %>—a wise, <%= dog.age %>-year-old dog<br>living in <%=dog.city %>.<br>
        <% } %>
  

        <section class="buttonsWrapper">
        <button class="buttonsUpdateDelete"><a href="<%= owner._id %>/dogs/<%= dog._id %>/edit">Update <%= dog.name %></a></button>
        
        <form action="/owners/<%= owner._id %>/dogs/<%= dog._id %>?_method=DELETE" method="POST">
            <button class="buttonsDelete" type="submit">&nbsp;Delete <%= dog.name %></button>
        </form>
      </section>
      </div>
    <br><% }); %>
  </div>
  <button class="buttonsUpdateDelete"><a href="/owners/<%= owner._id %>/dogs/new">Add more dogs ฅ՞•ﻌ•՞ฅ</a></button>
  <% } else { %><br><br><br><br><br><br><br><br><br><br><br><br>
  <h3>You haven't added any dogs.</h3><button class="buttonsUpdateDelete"><a href="/owners/<%= owner._id %>/dogs/new">Add Dog ฅ՞•ﻌ•՞ฅ</a></button>
  <% } %><br>
  <div>You are currently logged in as:</div>
  <div><%= owner.email %></div>
  <br>
  <section>
    <a href="/">Sign up with different account?</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/login">Log out</a>
  </section>
</section>
</body>
</html>
