<%- include('../partials/header') %>
<div class="row">
    <h3 class="editTitle">Update Your Dog's Info</h3>
    <form action="/owners/<%= owner._id %>/dogs/<%= dog._id %>?_method=PUT" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input value="<%= dog.name %>" name="name" type="text" class="validate">
          <label class="white-text"for="name">Edit Name</label>
        </div>
        <div class="input-field col s6">
          <input name="age" type="number" value="<%= dog.age %>" class="validate">
          <label class="white-text"for="age">Edit Age</label>
        </div>
        <div class="input-field col s6">
          <input name="city" type="text" value="<%= dog.city %>" class="validate">
          <label class="white-text" for="city">Edit City</label>
        </div>
        <div class="input-field col s6">
          <input name="weight" type="number" value="<%= dog.weight %>" class="validate">
          <label class="white-text" for="weight">Edit Weight 	&#40;lbs&#41;</label>
        </div>
        <div class="input-field col s6">
          <input name="breed" type="text" value="<%= dog.breed %>" class="validate">
          <label class="white-text" for="breed">Edit Breed</label>
        </div>
        <div class="input-field col s6">
          <input name="bio" type="text" value="<%= dog.bio %>" class="validate">
          <label class="white-text" for="bio">Edit Bio</label>
        </div>
        <p class="akcBox">
            <label class="white-text" for="hasAkcCertification">
                <input name="hasAkcCertification" type="checkbox" class="filled-in" id="hasAkcCertification" <%= dog.hasAkcCertification ? "checked='checked'" : '' %>/>
                <span>Is AKC Certified</span>
            </label>
        </p>
        <div>
            <button class="btn waves-effect waves-light dogUpdate" type="submit" name="action">Submit
                <i class="material-icons right">pets</i>
            </button>
        </div>
      </div>
    </form>
  </div>
<%- include('../partials/footer') %>