<%- include('../partials/header') %>
<div class="page-container">
  <div class="show-title-container">
  <h3 class="ownerShowTitle">Hey, <%=owner.name %></h3>
  <h6 class="ownerShowSubtitle">Here are your dogs ready to find a match!:</h6>
</div>
  <div class="carousel">
  <% if (dogs.length> 0) { %>
    <% dogs.forEach(dog => { %>
      <div class="carousel-item" dogid="<%= dog._id %>">
        <div class="card">
          <div class="card-image">
            <img class="dog-img" src="<%= dog.pictures %>">
            <span class="card-title flow-text" id="dog-name"><%= dog.name %> <br/> <span class="dogBio"><%= dog.bio %></span></span>
          </div>
          <div class="card-action">
            <button class="btn waves-effect waves-light pink"  onclick="location.href='/owners/<%= owner._id %>/dogs/<%= dog._id %>/swipe';">Match
              <i class="fa fa-heart right"></i>
            </button>
            <button class="edit-btn btn waves-effect waves-light blue lighten-2"  onclick="location.href='<%= owner._id %>/dogs/<%= dog._id %>/edit';">Edit
            </button>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
  <div class="carousel-controls">
    <i class="material-icons carousel-prev">navigate_before</i>
    <i class="material-icons carousel-next">navigate_next</i>
  </div>
  <button class="addDogBtn btn waves-effect waves-light cyan" onclick="location.href='/owners/<%= owner._id %>/dogs/new';">Add a Dog <i class="material-icons right">pets</i></button> 
  <% } else { %>
  <h3 class="noDogsPadding">You haven't added any dogs.</h3>
  <% } %>
</div>
<%- include('../partials/footer') %>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    let editedDogId = "<%= editedDogId %>";
    let elems = document.querySelectorAll('.carousel');
    let instances = M.Carousel.init(elems, {
      numVisible : 3,
    });
    let instance = M.Carousel.getInstance(elems[0]);
  
    window.addEventListener('resize', function() {
      let instances = M.Carousel.init(elems, {});
    });



    document.querySelector('.carousel-prev').addEventListener('click', function() {
      instance.prev(); 

    });
  
    document.querySelector('.carousel-next').addEventListener('click', function() {
      instance.next();
    });



    if(editedDogId){
      let carouselItems = document.querySelectorAll('.carousel-item')
      editedDogIndex = -1
      for(let i = 0; i <carouselItems.length;i++){
        if(carouselItems[i].attributes.dogid.value === editedDogId){
          editedDogIndex = i
          break
        }
      }
      if(editedDogIndex > -1){
        instance.set(editedDogIndex)
      }
    }
  });
</script>
  
