<%- include('../partials/header') %>

<section class="showPage">
  <header>
    <div id="nameID">
      <svg>
        <text x="50%" y="50%" dy=".35em" text-anchor="middle">Welcome</text></svg>
        <div class="ownerName"><%= owner.name %></div><br><br>
    </div>
  </header>

  <% if (dogs.length > 0) { %>
    <br><h2 class="yourDogName">Select dog to match:</h2>
    <div class="dogContainerRow">
    <% dogs.forEach(dog => { %>
      <div class="aboutDogClass">
          <div class="imgContainer">
           <a href="/owners/<%= owner._id %>/dogs/<%= dog._id %>/swipe">
              <img src="<%= dog.pictures %>" alt="<%= dog.name %>" class="imgClass">
            </a>
          </div>
          <div class="petnamediv">
            <p class="petname"><%= dog.name %></p>

          </div>
  
        <div class="buttonsWrapper">
        <button class="buttonUpdate"><a href="<%= owner._id %>/dogs/<%= dog._id %>/edit" class="no-underline">Update</a></button>
        <form action="/owners/<%= owner._id %>/dogs/<%= dog._id %>?_method=DELETE" method="POST">
            <button class="buttonDelete" type="submit">Delete</button>
        </form>
      </div>
      </div>
    <br><% }); %>
  </div>
  
  <% } else { %>
  <h3 class="noDogsPadding">You haven't added any dogs.</h3>
  <% } %>

  <button class="buttonAddDogs"><a href="/owners/<%= owner._id %>/dogs/new" class="no-underline">Add Dog ฅ՞•ﻌ•՞ฅ</a></button>

<%- include('../partials/footer') %>