<%- include('../partials/header') %>
  <div class="carousel">
  <% if (dogs.length > 0) { %>
    <% dogs.forEach(dog => { %>
      <div class="carousel-item">
        <div class="card">
          <div class="card-image">
            <img class="dog-img" src="<%= dog.pictures %>">
          </div>
          <div class="card-content">
            <span class="card-title"><%= dog.name %></span>
            <p><%= dog.bio %></p>
          </div>
          <div class="card-action">
            <button class="match-button btn waves-effect waves-light"  onclick="location.href='/owners/<%= owner._id %>/dogs/<%= dog._id %>/swipe';">Match
              <i class="fa fa-heart right"></i>
            </button>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
  <div class="carousel-controls">
    <i class="material-icons carousel-prev">navigate_before</i>
    <i class="material-icons carousel-next">navigate_next</i>
  </div>
  
  <% } else { %>
  <h3 class="noDogsPadding">You haven't added any dogs.</h3>
  <% } %>



<%- include('../partials/footer') %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let elems = document.querySelectorAll('.carousel');
    let instances = M.Carousel.init(elems, {});
  

    let instance = M.Carousel.getInstance(elems[0]);
  
    document.querySelector('.carousel-prev').addEventListener('click', function() {
      instance.prev(); 
    });
  
    document.querySelector('.carousel-next').addEventListener('click', function() {
      instance.next();
    });
  });
  </script>
  
