<%- include('../partials/header') %>
<div class="updatePage" id="updatePageID"><br><br><br><br><br><br><br><br><br>
<form action="/owners/<%= owner._id %>/dogs/<%= dog._id %>?_method=PUT" method="POST">
    <h2>Update Your Dog♡🐾</h2><br>
    <div class="updateDog">
    <label for="name">&nbsp;&nbsp;Edit Name:
        <input type="text" name="name" id="name">
    </label><br><br>
    <label for="age">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edit Age:
        <input type="number" name="age" id="age">
    </label><br><br>
    <label for="weight">Edit Weight:
        <input type="number" name="weight" id="weight">
    </label><br><br>
    <label for="breed">&nbsp;&nbsp;Edit Breed:
        <input type="text" name="breed" id="breed">
    </label><br><br>
    <label for="bio">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edit Bio:
        <input type="text" name="bio" id="bio">
    </label><br><br></div>
    <label for="hasAkcCertification">AKC Certification:
        <input type="checkbox" name="hasAkcCertification" id="hasAkcCertification">
    </label><br><br><a href="/owners/<%= owner._id %>">⇤Go back↩</a>&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;<button type="submit">Update Dog ฅ՞•ﻌ•՞ฅ</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <section><br><br>
            <a href="/">Sign up with different account?</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/login">Log out</a>
        </section>
</form>
</div>



<%- include('../partials/footer') %>